<head>
    <!-- Standard Meta -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/dist/semantic.css">
    <!-- Site Properties -->
    <title>Inflation</title>
    <script src="/static/assets/library/jquery.min.js"></script>
    <script src="/static/assets/library/math.min.js"></script>
    <script src="/static/assets/library/voca.min.js"></script>
    <script src="/static/assets/library/locache.min.js"></script>
    <script src="/static/assets/library/navigo.min.js"></script>
    <script src="/static/assets/library/tiny-stack.min.js"></script>
    <script src="/static/assets/library/is.min.js"></script>
    <script src="/static/assets/library/base64.min.js"></script>
    <script src="/static/assets/library/underscore.min.js"></script>
    <script src="/static/dist/semantic.js"></script>
    <script src="/static/assets/library/utils.js"></script>
    <script src="/static/assets/library/head-logic.js"></script>
</head>